In [21]:
import pandas as pd

In [22]:
df = pd.read_csv("final title collection details.csv")

In [27]:
df.head(100)

,Questions,Checkbox,Corrected_questions,Answer
0,Questions,Checkbox,Corrected_questions,Answer
1,Questions,Checkbox,Corrected_questions,Answer
2,Questions,Checkbox,Corrected_questions,Answer
3,64 PROJECTS FOR EVERY DATA SCIENCE PROFESSIONAL,Correct,64 PROJECTS FOR EVERY DATA SCIENCE PROFESSIONAL,NaN
4,ENTREPENEURS WHO KNOW HOWTO CODE,Not Correct,ENTREPRENEURS WHO KNOW HOW TO CODE,NaN
...,...,...,...,...
95,Creating and/or Editing Videos. ...,NaN,NaN,NaN
96,Carpentry. ...,NaN,NaN,NaN
97,"Sports – Refereeing.""",NaN,NaN,NaN
98,"HOW D0 MOST PEOPLE GET RICH?,Correct, HOW D0 ...",NaN,NaN,NaN
99,Hit $100K,then invest the rest. ...,NaN,NaN

In [28]:
df["Answer"]

0      Answer
1      Answer
2      Answer
3         NaN
4         NaN
        ...
133       NaN
134       NaN
135       NaN
136       NaN
137       NaN
Name: Answer, Length: 138, dtype: object

NameError: name 'df1' is not defined

In [18]:
df.drop_duplicates(inplace=True)
df.dropna(inplace=True)
df.reset_index()

   index  Answer
0      0  Answer

In [19]:
df

0    Answer
Name: Answer, dtype: object